<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bloglist.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Bodoni+Moda:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Courier+Prime&family=Darumadrop+One&family=Gloock&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Playfair+Display:ital,wght@0,700;0,800;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,400;1,400&display=swap" rel="stylesheet">

	<title>Mystory</title>
</head>
<body>
    <header>
        <!-- 顶部导航栏 -->
        <div class="separator-line"></div>
        <div class="top-nav">
          <div class="logo">
            <!-- 左上角Logo -->
            <p class="logo" id="username-display" name="userNameDisplay" th:text="${userDisplayName}"></p>
          </div>
        </div>
      </header>

      <main>
		
		<section class="blog-list-section">
			<div class="container">
				<div class="blog-list-left-section">
				  <!-- 左侧内容 -->
				  <div class="EssayContainer" >
					<div id="Essay-grid-container" class="grid-container" name="EssayGrid">
						<div class="Essay-grid-item" th:each="essay:${essayList}">
							<!-- 单个项目内容 -->
<!--						 图片可碰-->
							<a th:href="@{/user/blog/view/{blogId}(blogId=${essay.blogId})}" class="blog-colum"  >
								<div class="img-container" name="imgContainer" id="essay-imgContainer">
									<img th:src="@{/img/{items}(items=${essay.blogImgUrl})}">
								</div>
								<!--标题可碰-->
<!--								<a th:href="@{/user/blog/view/{blogId}(blogId=${essay.blogId})}" class="blog-colum">-->
									<div class="title-container"  id="title">
										<p th:text=" ${essay.blogTitle}"></p>
									</div>
								<div class="article-abstract" >
									<p th:utext=" ${essay.blogContents}"></p>
								</div>
							</a>

<!--							<div class="registerDate-container" name="registerDateContainer">-->
<!--									<p th:text="${#temporals.format(blog.registerDate, 'yyyy/MM/dd')}"></p>-->
<!--							</div>-->
						</div>
					</div>					
				</div>
				</div>
			<div class="blog-list-right-section">
				<!-- 右侧内容 -->
				<div class="NoteContainer">
					<div id="Note-grid-container" class="grid-container" name="NoteGrid">
						<div class="grid-item" th:each="note:${noteList}">
							<!-- 单个项目内容 -->
							<a th:href="@{/user/blog/view/{blogId}(blogId=${note.blogId})}" class="blog-colum" >
							<div class="img-container"  id="note-imgContainer">
								<img th:src="@{/img/{items}(items=${note.blogImgUrl})}">
							</div>
							</a>
							<div class="title-container" id="note-title">
								<p th:utext=" ${note.blogTitle}"></p>
							</div>
<!--							<div class="registerDate-container" name="registerDateContainer">-->
<!--								<p th:text="${#temporals.format(blog.registerDate, 'yyyy/MM/dd')}"></p>-->
<!--							</div>-->
							<div class="article-abstract" >
								<p th:utext=" ${note.blogContents}"></p>
							</div>
						  </div>
					</div>					
				</div>
			  </div>
			</div>
		</section>
		<!-- 右下角添加按钮 -->
		<div class="blog-edit-button">
			<a th:href="@{/user/blog/edit}" class="blog-edit-link">+</a>
		  </div>
	</main>
    
      <script src="@{js/bloglist.js}"></script>
</body>
</html>